<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" [muted]="'muted'" loop="loop">
      <source src="./../assets/network2.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h1 class="display-3">ABOUT ME</h1>
        </div>
      </div>
    </div>
 </header>
 <div class="wrapper">
  <div class="row aboutme col-md-12 mt-5 col-xs-12">
  </div>
  <div class="row col-md-12 mt-5">
      <div class="description col-md-12">
          <p>Hello! My name is Raven Anderson and I am a software developer! Programming has impacted all our lives in one shape or another. It's moving fast and changing how we live, and I want to be apart of that process. I see it in a way that lets me be creative while helping others.</p>
          <p>Outside of coding, I love doing a lot of different activities! Some things I enjoy doing are - hiking, skydiving, traveling, hanging with friends, and seeing movies! </p>
      </div>
  </div>
</div>
