<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" [muted]="'muted'" loop="loop">
      <source src="./../assets/network2.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h1 class="display-3">PROJECT CORNER</h1>
        </div>
      </div>
    </div>
 </header>
<div class="wrapper">
    <div id="homeBase" class="row mt-5 col-md-12">
        <div class="text col-md-12 col-lg-4 col-xs-12">
            <h2>Home Base</h2>
            <p>Tech: Angular, Typescript, rxjs, Node.js</p>
            <p>Timeframe: 6 months</p>
            <p>Contribution: Lead front-end developer for one project, successfully delivered an admin dashboard for managing user profiles.</p>
            <p>Created Typescript reusable components and services to consume REST API’s using component based architecture provided by Angular JS 7.</p>
        </div>
        <div class="img row col-lg-12 col-xs-12">
          <img src="..//..//..//assets/images/controlPanel.png" class="responsive">
          <img src="..//..//..//assets/images/profileUpdates.png" class="responsive">
          <img src="..//..//..//assets/images/actionLog.png" class="responsive">
          <img src="..//..//..//assets/images/ActionLogExpanded.png" class="responsive">
        </div>
     </div> 
     <div id="windows" class="row mt-5 col-md-12">
        <div class="text col-md-12 col-lg-4 col-xs-12">
            <h2>Windows95 Website Emulator</h2>
            <p>Tech: HTML, CSS, jQuery</p>
            <p>Timeframe: 2 days</p>
            <p>Status: Uncomplete</p>
            <p>Lesson: created moveable divs, stylized windows, more practice with jQuery</p>
        </div>
        <div class="row col-md-8 col-xs-12">
            <video controls>
                <source src="..//..//..//assets/winndows95.mp4" type="video/mp4">
                <source src="..//..//..//assets/winndows95.mp4" type="video/ogg">
                Your browser does not support HTML5 video.
            </video>
        </div>
     </div>
     <div id="doodle" class="row mt-5 col-md-12">
        <div class="text col-md-12 col-lg-4 col-xs-12">
            <h2>Doodle Space</h2>
            <p>Tech: HTML, CSS, jQuery</p>
            <p>Timeframe: 1 day</p>
            <p>Lesson: web sockets</p>
        </div>
        <div class="row col-md-8">
            <video controls>
                <source src="..//..//..//assets/doodle.mp4" type="video/mp4">
                <source src="..//..//..//assets/doodle.mp4" type="video/ogg">
                Your browser does not support HTML5 video.
            </video>
        </div>
     </div> 
     <div id="bus" class="row mt-5 col-md-12">
        <div class="text col-md-5">
            <h2>BusNapp</h2>
            <p>Sleep and never miss a stop again! This iOS app let's you create bus stops and set an alarm/distance for that bus stop. 
              The user can create saved lists of the their favorite stops. When creating a stop the user can choose from a variety of songs, and distances. 
              The app will track your location and when you reach that certain distance the app will wake you up!</p>
            <p>Tech: Swift</p>
            <p>Timeframe: 4 days</p>
            <p>Team: Charlotte Abrams and Raven Anderson </p>
            <p>Contribution: Push Notifications, Setup Audio, and Song List Views. Created main methods for taking users GPS location and creating alarm.</p>
        </div>
        <div class="row col-md-7 col-xs-12">
            <video controls>
                <source src="..//..//..//assets/busNap.mp4" type="video/mp4">
                <source src="..//..//..//assets/busNap.mp4" type="video/ogg">
                Your browser does not support HTML5 video.
            </video>
        </div>
     </div> 
</div>